.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

.searchingProductInput {
  width: 200px;
  height: 40px;
  border: 1px lightgrey solid;
  border-radius: 10px;
  padding: 0 10px 0 10px;
}

.searchingProductInput:focus {
  border-color: lightgrey;
  outline: none;
}

.searchedProducts {
  border: 1px lightgrey solid;
  width: 200px;
  padding: 10px 10px 0 10px;
  position: fixed;
  top: 120px;
  border-top: none;
  background-color: white;
}

.product {
  margin: 5px 0 5px 0;
}

.recipe {
  width: 300px;
  border: 1px grey solid;
  padding: 5px;
  border-radius: 10px;
}

.filteredRecipes {
  margin: 30px;

  display: flex;
  width: auto;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}
