.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.searchingProductInput {
  width: 200px;
  height: 40px;
  border: 1px lightgrey solid;
  border-radius: 10px;
  padding: 0 10px 0 10px;
}
